{% extends 'base.html' %}

{% block title %}Contact
{% endblock title %}


{% block body %}
<div class="about-section">
        <h1 style="font-size: 50px;">Know Our <span style="color: black">Team</span></h1>

        <p style="font-size: 20px;">We are 4th year students pursuing BE at Thapar University.</p>

    </div>
    <br><br>
    <div class="container">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Jatin Jindal</h2>
                    <p class="title">Team Member</p>
                    <p><a href="mailto:ttaneja_be18@thapar.edu">jjindal_be18@thapar.edu</a></p>
                    <p><a href="tel:6239669105"><button class="button">Contact</button></a></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Paramjot Singh</h2>
                    <p class="title">Team Member</p>
                    <p><a href="mailto:psingh6_be18@thapar.edu">psingh6_be18@thapar.edu</a></p>
                    <p><a href="tel:9463578662"><button class="button">Contact</button></a></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Tushar Gupta</h2>
                    <p class="title">Team Member</p>
                    <p><a href="mailto:llovely50_be19@thapar.edu">tgupta1_be18@thapar.edu</a></p>
                   <p><a href="tel:6283354112"><button class="button">Contact</button></a></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Rudraksh Sharma</h2>
                    <p class="title">Team Member</p>
                    <p><a href="mailto:ssharma50_be19@thapar.edu">rsharma2_be18@thapar.edu</a></p>
                   <p><a href="tel:7063610793"><button class="button">Contact</button></a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}