{% extends 'base.html' %}

{% block title %}Home
{% endblock title %}


{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/pics/ASL-cover-image%20banner3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/pics/sign-language-banner5.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/pics/Audio-to-Teext-Converter%20banner4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <div id="services" class="service ">
        <div class="col-md-12">
            <font face="Cooper">Our Services</font>
        </div>
    </div>
<br>
    <div class="container row" id="cards" style="display: flex; justify-content: space-evenly">

        <div class="card column"  style="width: 18rem;">
            <a href="#nav" style="text-decoration: none">
            <img src="/static/pics/ASL-Video-Interpreters%20card%201st.jpg" height="200px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="text-decoration: none; color: black">Video to Sign Language</h5>
                <p class="card-text" style="text-decoration: none; color: black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </a>

        </div>
        <div class="card column" style="width: 18rem;">
            <a href="#nav" style="text-decoration: none">
                <img src="/static/pics/customize%20card%202nd.jpg" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-decoration: none; color: black">Add Customizable Expressions</h5>
                    <p class="card-text" style="text-decoration: none; color: black">Create your account and add customizable expressions according to your comfort and need.</p>
                </div>
            </a>
        </div>


        <div class="card column"  style="width: 18rem;">
            <a href="/audio" style="text-decoration: none">
            <img src="/static/pics/card3.jpg" height="230px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="text-decoration: none; color: black">Audio to Sign Language</h5>
                <p class="card-text" style="text-decoration: none; color: black">Audio through Microphone will be captured and converted to text and inturn to corresponding Signs.</p>
            </div>
            </a>
        </div>

    </div>
    <br>
    <div class="aboutUs">

    </div>
{% endblock body %}